/pumpkin.3mf
/pumpkinBody1.stl
/pumpkinBody2.stl
/pumpkinBody3.stl
/pumpkinBody4.stl
/pumpkinBody5.stl
/pumpkinBody6.stl
/pumpkinFace1.stl
/pumpkinFace2.stl
/pumpkinFace3.stl
/pumpkinFace4.stl
/pumpkinJaw1.stl
/pumpkinJaw2.stl
/pumpkinJaw3.stl
/pumpkinJaw4.stl
/pumpkinTop.stl
/pumpkinTop1.stl
/pumpkinTop2.stl
/__pycache__
model/pumpkinJaw1.stl
