[Unit]
Description=LED Flame Application for Halloween Pumpkin
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/Pumpkin
ExecStart=/home/pi/Pumpkin/venv/bin/python /home/pi/Pumpkin/app.py

Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target